#content{
    margin-top: 20px;
}

.modal.modal-wide{
    width: 80%;
    margin-left: -40%;
}

.modal.modal-wide .modal-body{
    max-height: 70%
}

#recordingInfoMain{
    float: left;
    width: 60%;
    margin-right: 9%
}

#recordingInfoImage{
    float: left;
    width: 30%;

}

#recordingInfoDescription{
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.tooltipevent{
    position: absolute;
    width: 400px;
    max-height: 300px;
    overflow: hidden;
    background: white;
    padding: 10px;
    z-index: 10001;
    border-radius: 5px;
    border: 1px solid grey;
}

#programGuide{

}

.programRow{
    float: left;
    width: 18%;
    padding: 1%;
}

.programRowChannel{
    font-weight: bold;
    text-align: center;
}

.programRowItem
{
    border-top: 1px dashed #bbb;
    overflow: hidden;
    margin-bottom: 5px;
}

.programRowItemTitle{
    font-weight: bold;
    font-size: 9px;
    max-height: 20px;
    overflow: hidden;
}

.programRowItemSubtitle{
    font-size: 8px;
    max-height: 19px;
    overflow: hidden;
}
.programRowItemStarttime{
    font-size: 8px;
    max-height: 20px;
    padding-top: 5px;
    overflow: hidden;
}
.programRowItemDescription{
    font-size: 7px;
    overflow: hidden;
    color: #888;
}

.programRowItemSpacer{
    background-color: #eee;
}

#loginform{
}

#loginform * div{
    text-align: center;
}

#app-name{
    font-size: 0.8em;
    color: #2E2EFE;
}
